/*Card Component*/
.card-component{
    width: 330px;
    height: 300px;
    background-color: rgb(255,255,255,0.5);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 20px;

    .card-img{
        opacity: 100%;
        align-items: center;
        height: 220px;
        margin: 10px;
        width: 310px;
    }

    .card-desc{
        display: flex;
        justify-content:space-between;

        .div-desc{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: auto;
            justify-content: center;

            .card-title{
                font-size: 0.8rem;
            }
    
            .card-year{
                font-size: 0.8rem;
                font-weight: bold;
            }

            .card-number{
                font-size: 0.8rem;
                font-weight: bold;
            }
        }

        .vr-line{
            margin-left: 10px;
            margin-right: 10px;
        }

        .card-price{
            font-size: 2rem;
            font-weight: bold;
            margin: auto;
        }
    }
}

.card-component:hover{
    background-color: black;
    color: yellow;
}