/*Header Component*/
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:center;
    color: white;
    margin-top: 4vh;
    font-size: 1rem;
    font-weight: bold;
    
    @media only screen and (max-width: 600px) {
        font-size: 0.8rem;
    }

    .itm-list{
        display: flex;
        justify-content: center;
        .itm{
            margin-left: 2vw;
            margin-right: 2vw;
        }
    }

    .divider-vr{
        background-color: white;
        height: 3vh;
        width: 1px;
    }

    .divider-hr{
        background-color: white;
        width: 80%;
        margin-top: 2vh;
        height: 1px;
    }

}

/*Card Component*/
.card-component{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 280px;
    background-color: rgb(0,0,0,0.3);
    margin-top: 2vh;
    margin-left: 1vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    .card-img{
        opacity: 100%;
        align-items: center;
        height: 210px;
        margin: 10px;
    }

    .card-desc{
        display: flex;
        justify-content:space-between;

        .div-desc{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 30px;

            .card-title{
                font-size: 1rem;
            }
    
            .card-year{
                font-size: 1.4rem;
                font-weight: bold;
            }
        }

        .card-price{
            font-size: 2rem;
            font-weight: bold;
            margin-left: 30px;
        }
    }
}