*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.home-page{
    height: 100vh;
    width: 100%;
    
    .bg-video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    .welcome-txt{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2rem;

        @media only screen and (max-width: 600px) {
            font-size: 1.5rem;
        }
    }
}

.pre-used-cars-page{
    width: 100%;
    padding-top: 20px;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .header{
        position: sticky;
        margin-top: 0;
        background-color: black;
    }

    .content{
        flex-grow: 20;
        display: flex;
        align-items: flex-start; 
        
        .car-list{
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            background-color: rgb(32,32,32);  
            height: 100%; 
        }
    }

    .footer{
        position: sticky;
        background-color: black;
    }
}

.details-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .details-header{
        flex-grow: 1;
        background-color: black;
        display: flex;
        align-items: center;
        flex-direction: row;

        .back-icn{
            color: white;
            font-size: 3rem;
            margin-left: 20px;

            @media only screen and (orientation:portrait ){
                font-size: 2.2rem;
            }
        }

        .detail-title{
            color: white;
            font-size: 1.8rem;
            font-weight: bold;
            margin-left: 1rem;

            @media only screen and (orientation:portrait ){
                font-size: 1.2rem;
                margin-left: 0.5rem;
            }

        }

        .detail-year{
            color: white;
            font-size: 1rem;
            font-weight: bold;
            margin-left: 1rem;

            @media only screen and (orientation:portrait ){
                font-size: 1rem;
                margin-left: 0.5rem;
            }
        }
    }

    .details-content{
        flex-grow: 20;
        background-color: rgb(32,32,32);
        display: flex;
        flex-direction: row;
        color: white;

        @media only screen and (max-width:600px){
            flex-direction: column;
        }

        .details-gallery{
            flex-grow: 5;
        }

        .details-specification{
            flex-grow: 2;
        }

    }
}