.admin-page{
    width: 100vw;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .add-btn{
        width: 90%;
        padding: 20px;
        font-weight: bold;
        margin-top: 20px;
    }

    .ad-car-list{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}