.pre-used-cars-page {
    width: 100vw;
    padding-top: 20px;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .header {
      position: sticky;
      margin-top: 0;
      background-color: black;
    }
  
    .content {
      flex-grow: 20;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: auto;
  
      .car-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgb(32, 32, 32);
        height: 100%;
      }
    }
  
    .footer {
      position: sticky;
      background-color: black;
      font-size: 0.6rem;
      height: 50px;
    }
  }